* {
    background-color: black; /* Global background color, use with caution */
}

.container {
    display: grid;
    grid-template-columns: 1fr;  /* 1 column layout, flexible */
    grid-template-rows: repeat(4, 100px);  /* 4 rows, 100px height */
    justify-items: center; /* Centers items horizontally */
    align-items: center;   /* Centers items vertically */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
   
    
}

.key{
    border: green solid 2px;
}



#title{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

#display {
    display: flex;  /* Adding flexbox to center content */
    justify-content: center;
    align-items: center;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    margin: 0 auto; /* Centering with margin */
    background-color: white;
    cursor: pointer;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    background-color: lightgrey;  /* Optional: adds color to buttons */
    transition: background-color 0.3s; /* Adds transition for hover effect */
}

button:hover {
    background-color: darkgray; /* Button hover effect */
}
